<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit File | FileUploader</title>
  </head>
  <body>
    <%- include('partials/errors') %>
    <form action="/binder/file/edit/<%= fileId %>" method="post">
      <label for="name">File Name: </label>
      <input type="text" id="name" name="name" />
      <button type="submit">Edit</button>
    </form>
  </body>
</html>
