<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/binder.css" />
    <link rel="stylesheet" href="/css/dropdown.css" />
    <script
      src="https://kit.fontawesome.com/81e5ddd343.js"
      crossorigin="anonymous"
    ></script>
    <title>File | FileUploader</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <main>
      <h1>file</h1>
    </main>
    <%- include('partials/footer') %>
  </body>
  <script>
    document.querySelectorAll(".dropbtn").forEach((button) => {
      button.addEventListener("click", (e) => {
        e.stopPropagation();
        const dropdowns = button.nextElementSibling;
        if (dropdowns.classList.contains("show")) {
          dropdowns.classList.remove("show");
        } else {
          dropdowns.classList.add("show");
        }
      });
    });
    document.addEventListener("click", (e) => {
      document.querySelectorAll(".dropbtn").forEach((button) => {
        const dropdowns = button.nextElementSibling;
        dropdowns.classList.remove("show");
      });
    });
  </script>
</html>
