.binder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.binder-header {
  display: flex;
  justify-content: space-between;
  background-color: initial;
  padding: 0 10px;
  font-size: 1rem;

  .right {
    display: flex;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

thead {
  background-color: lightgray;
}

th {
  padding: 0.5rem;
  text-align: start;
}

td {
  padding: 0 0.5rem;
}

tr {
  border-bottom: 1px solid lightgray;
}

tr:hover {
  cursor: pointer;
  background-color: rgb(245, 244, 244);
}
