.binder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.binder-header {
  display: flex;
  justify-content: space-between;
  background-color: initial;
  padding: 0 10px;
  font-size: 1rem;

  .right {
    display: flex;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

thead {
  background-color: lightgray;
}

th {
  padding: 0.5rem;
  text-align: start;
}

td {
  padding: 0 0.5rem;
}

.name-data {
  width: 50%;
}

.options-data {
  width: 5%;
}

.size-data {
  padding-left: 1rem;
}

.options-data {
  font-weight: bold;
}

tr {
  border-bottom: 1px solid lightgray;
}

tr:hover {
  cursor: pointer;
  background-color: rgb(245, 244, 244);
}

#modal {
  position: absolute;
  display: none;
  background-color: white;
  top: 10%;
  left: 50;
  padding: 20px;
  border: 1px solid black;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.file-upload-btn {
  width: 100%;
}

.close-modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}

.file-modal.show {
  display: block !important;
}
