*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

html {
  height: 100%;
}

/* Footer */

footer {
  position: static;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
}
