*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  background-color: lightgray;
  font-size: 1.5rem;
  a {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .right {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
  }
}

/* Footer */

footer {
  position: static;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
}

/* Main */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex: 1;
}

.upload-btn {
  border: none;
  background-color: white;
  cursor: pointer;
  color: blue;
}
